/*---------------
foundation
-----------------*/
html {
  overflow: hidden;
}

div {
  line-height: 100%;
}

/*---------------
layout
-----------------*/
.l-header01 .l-headerWrapper {
  height: 65px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid #55acee;
}

.l-header01 .l-headerWrapper .l-headerWrapper__left {
  float: left;
}

.l-header01 .l-headerWrapper .l-headerWrapper__right {
  float: right;
}

/*---------------
object/component
-----------------*/
/*------------------------------
join_c-welcomeWrapper
------------------------------*/
.c-welcomeWrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: none;
  position: fixed;
  white-space: nowrap;
  left: 0;
  top: 0;
  z-index: 9999999999999;
}

.c-welcomeWrapper .c-modalWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  padding: 20px;
  overflow: auto;
}

.c-welcomeWrapper .c-modalWrapper.active {
  display: inline-block;
}

.c-welcomeWrapper .c-modalWrapper .c-modalWrapper__bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.c-welcomeWrapper .c-modalWrapper .c-modalWrapper__box {
  width: 100%;
  max-width: 400px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.c-welcomeWrapper .c-modalWrapper .c-modalWrapper__box .c-modal__body {
  background: #fff;
  padding: 80px 20px;
  white-space: normal;
  text-align: left;
  display: none;
}

.c-welcomeWrapper .c-modalWrapper .c-modalWrapper__box .c-modal__body.active {
  display: block;
}

.c-welcomeWrapper .c-modalWrapper .c-modalWrapper__box .c-modal__bodyform {
  padding-bottom: 32px;
}

.c-welcomeWrapper .c-modalWrapper::before {
  content: '';
}

.c-welcomeWrapper .c-modalWrapper::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 100%;
}

/*--------------------------------
join_c-loginWrapper
----------------------------------*/
.c-loginWrapper {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.c-loginWrapper .c-modalWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  white-space: nowrap;
}

.c-loginWrapper .c-modalWrapper .c-modalWrapper__bg {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
}

.c-loginWrapper .c-modalWrapper .c-modalWrapper__box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: #fff;
}

.c-loginWrapper .c-modalWrapper .c-modalWrapper__box .c-modal__regiBody {
  padding: 80px 20px;
  text-align: left;
}

.c-loginWrapper .c-modalWrapper .c-modalWrapper__box .c-modal__regiBody.active {
  display: block;
}

.c-loginWrapper .c-modalWrapper:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}

/*-------------------------
join_header.php
---------------------------*/
.p-logo__image-PC {
  border: 3px solid #55acee;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: fixed;
  top: 9px;
  left: 80px;
}

.p-logo__image {
  border: 3px solid #55acee;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: fixed;
  left: 8%;
}

.p-login {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
}

/*-----------------------------
join_body
--------------------------------*/
.p-startBtn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #239b76;
  cursor: pointer;
  position: relative;
}

.p-loginBtn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #239b76;
  cursor: pointer;
  position: relative;
}

.p-closeBtn {
  width: 40.188px;
  margin: 0px;
  position: absolute;
  top: 3.5%;
  left: 87%;
  z-index: 300;
  cursor: pointer;
}

/*---------------------
p-modal__btnWrapper
-----------------------*/
.p-modal__btnWrapper {
  font-size: 16px;
}

.p-modal__btnWrapper .p-change-btn {
  color: #4e90af;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
}

.p-modal__btnWrapper .p-change-btn.p-next-btn {
  position: absolute;
  bottom: -2%;
  right: 12%;
}

.p-modal__btnWrapper .p-change-btn.p-prev-btn {
  display: none;
  position: absolute;
  bottom: -2%;
  left: 12%;
}

.p-modal__btnWrapper .p-change-btn .p-modal__turnIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px;
}

.p-modal__btnWrapper .p-alter-btn {
  display: none;
  color: #4e90af;
  position: absolute;
  bottom: -2%;
  right: 12%;
  border-radius: 10px;
  height: 75px;
  cursor: pointer;
}

.p-modal__btnWrapper .p-modal__turnIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px;
}

/*-----------------------
p-modal__body
-------------------------*/
.p-modal__body--title {
  text-align: center;
  margin: 35px 5px 20px 5px;
  height: 30px;
}

.p-modal__body--txtArea {
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  height: 320px;
  width: 290px;
  overflow: scroll;
}

.p-modal__body--txtArea--text {
  padding: 5px 20px 20px 20px;
}

.p-modal__body--txtArea--text h3 {
  font-size: 25px;
}

.p-modal__body--txtArea--text h4 {
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
}

.p-modal__body--txtArea--text p {
  text-align: left;
  margin-bottom: 3px;
}

.p-modal__body--txtArea--text ol {
  margin-bottom: 0px;
  padding-left: 30px;
}

.p-modal__body--txtArea--text ol li {
  text-align: left;
}

.p-modal__body--checkBtn {
  text-align: center;
  margin: 25px 0px 5px 0px;
}

.p-modal__body form {
  text-align: center;
  margin-bottom: 30px;
}
/*# sourceMappingURL=stylesheet.css.map */