/*-------------------------
join_header.php
---------------------------*/
.p-logo__image-PC{
  border:3px solid $test-color;
  width:160px;
  height:160px;
  border-radius:50%;
  position:fixed;
  top:9px;
  left:80px;
}

.p-logo__image{
  border:3px solid $test-color;
  width:65px;
  height:65px;
  border-radius:50%;
  position:fixed;
  left:8%;
}


.p-login{
  line-height: 65px;
  padding: 0 25px;
  color: black;
  cursor: pointer;
  display: block;
}

/*-----------------------------
join_body
--------------------------------*/  
.p-startBtn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
  background-color:#239b76;
  cursor: pointer;
  position:relative;

}
.p-loginBtn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
  background-color:#239b76;
  cursor: pointer;
  position:relative;
  
}

.p-closeBtn{
  width:40.188px;
  margin:0px;
  position: absolute;
  top:3.5%;
  left:87%;
  z-index:300;
  cursor:pointer;
}

/*---------------------
p-modal__btnWrapper
-----------------------*/
.p-modal__btnWrapper{
  font-size:16px;

  .p-change-btn{
    color: #4e90af;
    // background-color: #e0f5ff;
    
    height:75px;
    border-radius: 10px;
    cursor: pointer;
    &.p-next-btn{
      //float:right;
      position: absolute;
      bottom: -2%;
      right: 12%;
    }
    &.p-prev-btn{
      display:none;

      // float:left;
      position: absolute;
      bottom:-2%;
      left:12%;
    }
    .p-modal__turnIcon{
      display:flex;
      height:75px;
      justify-content:center;
      align-items:center;
      flex-direction:column;
      padding:0 5px;
    }
  }

  .p-alter-btn{
    display:none;
    color: #4e90af;
    position: absolute;
    bottom: -2%;
    right: 12%;

    border-radius: 10px;
    height:75px;
    // background-color: red;
    cursor: pointer;
  }

  .p-modal__turnIcon{
    display:flex;
    height:75px;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:0 5px;
  }
}


/*-----------------------
p-modal__body
-------------------------*/
.p-modal__body{
  &--title{
    text-align: center;
    margin:35px 5px 20px 5px;
    height:30px
  }
  &--txtArea{
    margin:auto;
    border: 1px solid #ccc;

    border-radius:5px;
    background-color:white;
    height:320px;
    width:290px;
    overflow: scroll;
    &--text{
      padding:5px 20px 20px 20px;
      h3{
        font-size:25px;
      }
      h4{
        padding-top:20px;
        font-size: 20px;
        text-align:left;
      }
      p{
        text-align: left;
        margin-bottom:3px;
      }
      ol{
        margin-bottom:0px;
        padding-left:30px;
        li{
          text-align:left;
  
        }
      }
      
    }
  
  }
  &--checkBtn{
    text-align: center;
    margin:25px 0px 5px 0px;
  }
  form{
    text-align: center;
    margin-bottom:30px;
    
  }
}


